.button {
    width:100%;
    background-color:darkblue;
    color:white;
    border:none;
    padding: 15px 30px;
    cursor:pointer;
}

.button:hover {
    transform:scale(1.02);
    cursor:pointer
  }

.button:disabled {
    background-color:gray;
    cursor:not-allowed;
    transform:scale(1);
  }